html
  head
    link(href='https://fonts.googleapis.com/css?family=Alex+Brush|Parisienne|Rouge+Script|Lovers+Quarrel|Italianno|Stalemate', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400|Roboto', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='bower_components/components-font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='app.css', rel='stylesheet')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
    link(href='https://fonts.googleapis.com/css?family=Hind|Muli:300,400|PT+Serif|Playfair+Display', rel='stylesheet')
  body
    .login-modal
      .parent
        .child
          .wrapper
            h1 Welcome to
              br
              | Cody & Victoria's
              br
              | Wedding Page
              
            input#username(
              placeholder="username"
              type="username"
            )
            br
            input#password(
              placeholder="password"
              type="password"
            )
            br
            button#login Login
            br
            span contact support at (423) 244-4023
  
    .navigation(data-scroll-header='')
      .wrapper
        span.name
          | Cody & Victoria
        ul
          li
            a(data-scroll='', href='#main') Home
          li
            a(data-scroll='', href='#our-story') Our Story
          li
            a(data-scroll='', href='#the-what') What, When, Where
          li
            a(data-scroll='', href='#rsvp') RSVP
          li
            a(data-scroll='', href='#registry') Registry
          li
            a(data-scroll='', href='#images') Eye Candy
    section#main
      .container-fluid
        .row
          .col-md-6.no-pad.no-pad-right
            .hero
          .col-md-6
            h1.title Cody & Victoria
            h2.headline The Wedding
            h3.date December 16th - 19th, 2016
    section#our-story
      .container-fluid
        .row
          .col-md-6
            div(style='height: 60px;')
            #heart
              i.fa.fa-heart
            h1 Our Story
            .bio
              p 
                b Tina and Cody
                |  - we first met on PlentyOfFish.com (unfortunately, we were not paid to advertise this)
                br
                b Tina
                |  - I thought online dating was shady, but hey, desprate times call
                | for desprate measures.
                br
                b Cody
                |  - Wow, dang babe....  I knew I could find a quality African woman online
                br
                b Tina
                |  - Mail order bride status.  All I said to him was "Hey", cause I honeslty didn't know if he would reply. He looked like a down to earth model, my very own Ken doll, plus he had a picture of him with his grandma at his graduation, so at least he was educated.
                br
                b Cody
                |  - Lucky for me, she is obsessed with white boys, so I asked her out on a date.
                br
                b Tina
                |  - Yup, and 45 minutes before the date, you called and bailed.  So I decied to go alone.  I ain't no punk.
                br
                b Cody
                |  - When I found out you went downtown anyway, I felt terrible and decided to drive out anyway to meet you.
                br
                b Tina
                |  - blah blah blah, and then we got engaged!
                
          .col-md-6.no-pad-right.no-pad
            .circle(style="background-image: url('images/6166.jpeg');")
            .circle(style="background-image: url('images/6182.jpeg');")
            .circle(style="background-image: url('images/6144.jpeg');")
    section#the-what
      .container
        .row
          .col-md-5.square
            h1 The What
          .col-md-7
            p
              | We rented a huge cabin for the weekend of December 16th - 19th to spend time with family and friends.
            p
              | Join us for a weekend of fun with plans to include put-put golf, bowling, games, food, and the ceremony!
            
    section#the-when
      .container
        .row
          .col-md-5.square
            h1 The When
          .col-md-7(class='.content')
            table(border='1', bordercolor='#FFFF00', cellspacing='0', cellpadding='0', align='center')
              tr
                td
                  table(cellspacing='0', cellpadding='0', align='center', width='100', border='1')
                    tr
                      td(align='center')
                        font(size='3')
                      td.title(colspan='5', align='center') December 2016
                      td(align='center')
                        font(size='3')
                    tr
                      td
                        font(size='3')
                          b Sun
                      td
                        font(size='3')
                          b Mon
                      td
                        font(size='3')
                          b Tue
                      td
                        font(size='3')
                          b Wed
                      td
                        font(size='3')
                          b Thu
                      td
                        font(size='3')
                          b Fri
                      td
                        font(size='3')
                          b Sat
                    tr
                      td  
                      td  
                      td  
                      td  
                      td(valign='top')
                        font
                          | 1
                          br
                      td(valign='top')
                        font
                          | 2
                          br
                      td(valign='top')
                        font
                          | 3
                          br
                    tr
                      td(valign='top')
                        font
                          | 4
                          br
                      td(valign='top')
                        font
                          | 5
                          br
                      td(valign='top')
                        font
                          | 6
                          br
                      td(valign='top')
                        font
                          | 7
                          br
                      td(valign='top')
                        font
                          | 8
                          br
                      td(valign='top')
                        font
                          | 9
                          br
                      td(valign='top')
                        font
                          | 10
                          br
                    tr
                      td(valign='top')
                        font
                          | 11
                          br
                      td(valign='top')
                        font
                          | 12
                          br
                      td(valign='top')
                        font
                          | 13
                          br
                      td(valign='top')
                        font
                          | 14
                          br
                      td(valign='top')
                        font
                          | 15
                          br
                      td.vip(valign='top')
                        font
                          | 16
                          br
                      td.vip(valign='top')
                        font
                          | 17
                          br
                    tr
                      td.vip(valign='top')
                        font
                          | 18
                          br
                      td.vip(valign='top')
                        font
                          | 19
                          br
                      td(valign='top')
                        font
                          | 20
                          br
                      td(valign='top')
                        font
                          | 21
                          br
                      td(valign='top')
                        font
                          | 22
                          br
                      td(valign='top')
                        font
                          | 23
                          br
                      td(valign='top')
                        font
                          | 24
                          br
                    tr
                      td(valign='top')
                        font
                          | 25
                          br
                      td(valign='top')
                        font
                          | 26
                          br
                      td(valign='top')
                        font
                          | 27
                          br
                      td(valign='top')
                        font
                          | 28
                          br
                      td(valign='top')
                        font
                          | 29
                          br
                      td(valign='top')
                        font
                          | 30
                          br
                      td(valign='top')
                        font
                          | 31
                          br
                    tr
    section#the-where
      .container
        .row
          .col-md-5.square
            h1 The Where
          .col-md-7
            .content
              h2 The Big Moose Lodge
              a(
                href="http://thebigmooselodge.com/photos-videos/"
                target="_blank"
              ) Check out their website
              br
              img(src='images/cabin.jpg')
              h3 Sevierville, TN 37863
    section#rsvp
      .container
        .row
          .col-md-10.col-md-push-1
            h1 RSVP
            .content
              h2
                | Please RSVP using the form below.  
                br
                | Click the checkbox if the member is a vegetarian
              
              #party
              
    section#registry
      .container
        .row
          .col-md-8.col-md-push-2
            h1 Registry
            p
              | Click the link below to view our registry
            a(
              href="https://www.zola.com/registry/codyandvictoria"
              target="_blank"
            ) 
              img(
                style="width: 100%; position: relative; top: -200px;"
                src="images/zola-logo-pride.png"
              )
              
    section#images
      .container(style='text-align: center;')
        .row
          h1 Eye Candy
          #col-0.col-md-4
          #col-1.col-md-4
          #col-2.col-md-4
          
    script#member(
      type="x-tmpl-mustache"
    ).
      <div class="member">
        <div class="name">
          <b>{{ name }}</b> has <b>{{^reserved}}not{{/reserved}}</b> reserved
        </div>
        
        <div class="option">
          {{#isVegetarian}}
            <i class="fa fa-check vegetarian-set" data-name="{{name}}"></i> is Vegetarian
          {{/isVegetarian}}
          {{^isVegetarian}}
            <i class="fa fa-square-o vegetarian-unset" data-name="{{name}}"></i> is Vegetarian
          {{/isVegetarian}}
        </div>
        
        <div class="reserved">
          {{#reserved}}
            <a class="rsvp-unset" data-name="{{name}}">Click to Remove RSVP</a>
          {{/reserved}}
          {{^reserved}}
            <button class="rsvp-set" data-name="{{name}}">Click to RSVP {{name}}</button>
          {{/reserved}}
        </div>
      </div>
      
    script#music(
      type="x-tmpl-mustache"
    ).
      <audio autoplay="" controls="" loop="" preload="">
        <source src="songs/{{.}}.mp3" type="audio/mpeg" class="mp3"/>
        <source src="songs/{{.}}.ogg" type="audio/ogg" class="ogg"/>
        Your browser does not support the audio element.
      </audio>
    
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/gsap/src/minified/TweenMax.min.js')
    script(src='bower_components/scrollmagic/scrollmagic/minified/ScrollMagic.min.js')
    script(src='bower_components/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js')
    script(src='bower_components/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js')
    script(src='bower_components/smooth-scroll/dist/js/smooth-scroll.min.js')
    script(src='bower_components/mustache.js/mustache.min.js')
    script(src='bower_components/lodash/dist/lodash.min.js')
    script(src='app.js')
